.ff-dialog {
    margin-top: 0.25rem;
    @apply rounded-md;
    @apply bg-ffBlue;
    @apply bg-gradient-to-b;
    @apply from-ffBlue;
    @apply to-ffDarkBlue;
    @apply border-2;
    @apply border-solid;
    @apply border-ffGray;
    box-shadow:
        1px 1px #e7dfe7,
        -1px -1px #e7dfe7,
        1px -1px #e7dfe7,
        -1px 1px #e7dfe7,
        0 -2px #9c9a9c,
        -2px 0 #7b757b,
        0 2px #424542;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );
}

.ff-dialog * {
    text-shadow:
        2px 2px #212421,
        1px 1px #212021;
}

.ff-dialog .ff-hover-finger::before {
    content: '';
    position: absolute;
    display: none;
    background: url('/ff-cursor.png');
    top: -0.75rem;
    width: 5rem;
    height: 4rem;
    background-size: cover;
    background-repeat: none;
    transform: translateX(-5.25rem);
}

.ff-dialog .ff-hover-finger:hover {
    cursor: default;
}

.ff-dialog .ff-hover-finger:hover::before {
    display: block;
}

#hero .ff-hover-finger::before {
    top: 40%;
}

.ff-dialog span.ff-hover-finger::before {
    top: -1.15rem;
}
